FULGORART_DB_PATH=./data/fulgorart.db
FULGORART_R2_BUCKET=fulgorart-images
FULGORART_R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
FULGORART_R2_ACCESS_KEY_ID=<your_r2_access_key_id>
FULGORART_R2_SECRET_ACCESS_KEY=<your_r2_secret_access_key>
FULGORART_PASSWORD=
FULGORART_PORT=3000
WD14_MODEL_PATH=./models/wd14-convnext.onnx
WD14_LABELS_PATH=./models/selected_tags.csv
WD14_GENERAL_THRESHOLD=0.35
WD14_CHARACTER_THRESHOLD=0.75
